/* CSS file */
@font-face {
    src:url("fonts/Trebuchet"); 
    fontFamily: myFontFamily;
    advancedAntiAliasing: true;
    font-weight:normal;
    font-style:normal;
}

@font-face {
    src:url("fonts/TrebuchetBold"); 
    fontFamily: myFontFamily;
    advancedAntiAliasing: true;
    font-weight:bold;
    font-style:normal;
}

Application {
   color: #000000;
   borderSkin: ClassReference("org.findikproject.components.RepeatedBackground"); 
   background-image: Embed("/assets/images/grey.jpg");
   font-family: myFontFamily;
}

Application.text {
   font-family: myFontFamily;
}

MenuBar {
   color: #000000;
   font-weight: bold;
   background-color: #DDDDDD;
   background-alpha: 10.0;
   font-family: myFontFamily;
}

Button {
	font-family: myFontFamily;
}
/*
DataGrid {
   backgroundAlpha: 0.61;
   backgroundColor: #cccccc;
   alternatingItemColors: #f6f6f6, #dcdcdc;
   headerColors: #cccccc, #e6eeee;
   horizontalGridLines: true;
   letterSpacing: 0;
   horizontalGridLineColor: #ffffff;
   verticalGridLineColor: #ffffff;
   rollOverColor: #cecaca;
   textRollOverColor: #000000;
   borderThickness: 0;
   selectionColor: #3fa0dc;
   color: #000000;
   textSelectedColor: #000000;
   textIndent: 0;
   dropShadowEnabled: false;
   fontWeight: normal;
   headerStyleName: "mydataGridHeaderStyle";
}

.mydataGridHeaderStyle {
   color: #030303;
   letterSpacing: 0;
   textAlign: left;
   font-weight:bold;
}
*/
Button {
   cornerRadius: 3;
   textIndent: 0;
   highlightAlphas: 0.24, 0.4;
   fillColors: #cbc3c3, #cabdbd, #ecd5d5, #ede5e5;
   color: #0b333c;
   themeColor: #dfe4e7;
}

